@model IEnumerable<Proje.Models.Food>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/temp/css/comment.css" rel="stylesheet" />

<!-- Main Body -->
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h3> <p style="color:aliceblue">Yemek Detay Sayfası</p></h3>
                @foreach (var item in Model)
                {
                    <div class="comment mt-4 text-justify float-">

                        <img src="@item.Photo" alt="Image" class="img-fluid tm-gallery-img" />
                        <p style="color:aliceblue">ADI: @item.Name</p> <br>
                        <p style="color:aliceblue">AÇIKLAMASI: @item.Description</p> <br> <br>
                        <p style="color:aliceblue">FİYATI: @item.Fiyat</p> <br> <br>
                    </div>

                }

            </div>
          

            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <h3> <p style="color:aliceblue">YORUMLAR</p></h3>
          
                @foreach (var a in Model)
                {
                    @foreach (var b in a.Comments)
                    {
                        <div class="comment mt-4 text-justify float-left">

                            <h4>@b.Name</h4> <span>- 20 October, 2018</span> <br>
                            <p>@b.Description</p>
                        </div>

                    }

                }
                <form id="algin-form">
                    <div class="form-group"> <button type="button" id="post" onclick="location = '/Comments/Create'" class="btn">YORUM YAP</button> </div>
                </form>
              
            </div>
        </div>
    </div>
</section>

